body, html {
    height: 100%;
}
body {
    background-color: aliceblue;
}
.form-title {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}
.form-request {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.two-inputs {
    display: flex;
    justify-content: space-around;
    width: 80vw;
    margin-top: 5vh;    
}
.error {
    border-color: red;
    color: red;
}
.weather-list {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 70v;
}